.titulo-container {
    text-align: center;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 40px;
    color: #6278F7;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.titulo-container img {
    width: 80px;    
}